body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

div {
    max-width: 90%;
    margin: 5% auto;
    padding: 3%; 
    background-color: #f2f2f2;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 80px;
    color: #1e3a8a;
}

#projectes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f2f2f2;
}

#projectes h2 {
    margin-bottom: 45px;
    color: #1e3a8a;
}

#links {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#links a {
    padding: 15px;
    min-width: 200px;
    text-align: center;
    font-size: 16px;
    border-radius: 100px;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 31%, rgba(0, 212, 255, 1) 100%);
    color: white;
    text-decoration: none;
}

#links a:hover {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 58%, rgba(0, 212, 255, 1) 100%);
}


