body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    background: #2a469b;
    background: linear-gradient(90deg, rgba(42, 70, 155, 1) 0%, rgba(42, 123, 155, 1) 40%, rgba(87, 199, 133, 1) 74%, rgba(206, 235, 61, 1) 100%);
}

div {
    max-width: 90%;
    margin: 5% auto;
    padding: 3%; 
    background-color: #f2f2f2;
    border-radius: 10px;
}

#titol {
    background-color: #f2f2f2;
    background-color: rgba(255, 255, 255, 0.637);
}

h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 80px;
    color: #1e3a8a;
}

p {
    text-align: justify;
    font-size: 25px;
    margin-top: 80px;
    color: #1e3a8a;
}

#projectes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f2f2f2;
    background-color: rgba(255, 255, 255, 0.637);
}

#projectes h2 {
    margin-bottom: 45px;
    color: #1e3a8a;
}

#links {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#links a {
    padding: 20px;
    min-width: 250px;
    text-align: center;
    font-size: 17px;
    border-radius: 15px;
    background: #020024;
    color: white;
    text-decoration: none;
    transition: box-shadow 0.5s ease; 
}

#links a:hover {
    background: linear-gradient(90deg, rgba(42, 70, 155, 1) 0%, rgba(42, 123, 155, 1) 40%, rgba(87, 199, 133, 1) 74%, rgba(206, 235, 61, 1) 100%);
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

