body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#barranavegacio ul {
    display: flex;
    align-items: center;
    background: black;
    list-style: none;
    height: 50px;
    width:auto;
    margin: 0px;
    justify-content: center;
}

#barranavegacio li {
    padding: 10px;
    margin: 20px;
}

#barranavegacio a {
    color: white;
    text-decoration:none;
    font-size: large;
}
#barranavegacio a:hover {
    color: rgb(27, 173, 142);
}

div {
    max-width: 90%;
    margin: 5% auto;
    padding: 3%; 
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 80px;
    color: black;
}

p {
    text-align: center;
    font-size: 25px;
    margin-top: 80px;
    color: black;
}